#gear {
  animation: rotation 15s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
#revgear {
  animation: revgear 7s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes revgear {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}