#handgear {
  animation: handgear 1s infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes handgear {
  from {
    transform: rotate(5deg);
  }

  to {
    transform: rotate(0deg);
  }
}

#righthand {
  animation: up-down 1s infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes up-down {
  from {
    transform: translateY(3px);
  }

  to {
    transform: translateY(-3px);
  }
}

#lefthand {
  animation: lefthand 1s infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes lefthand {
  from {
    transform: translateY(-2px);
  }

  to {
    transform: translateY(5px);
  }
}

#revgear {
  animation: revgear 7s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes revgear {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}