/* Christal */
/* dummy test 09/05/2023 */




.react-horizontal-scrolling-menu--scroll-container {
  background: transparent !important;
  height: 600px !important;
}
.react-horizontal-scrolling-menu--item {
  background-color: transparent !important;
  height: 600px !important;
}

.widthlisy {
    visibility: hidden;
}


nav#myTab {
    background: #f7f7f7;
    border-radius: 26px;
    padding: 1rem;
  
}

.card-space{
    padding:20px
}

a.nav-link.active {
    justify-content: center;
    align-items: center;
    background: #0EC79B !important;
    border-radius: 82px !important;
    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border: none !important;
}


a.nav-link {
    justify-content: center;
    align-items: center;
    background: #FFFFFF !important;
    border-radius: 82px !important;
    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #515151;
    border: 0.5px solid #0ec79b !important;
    margin-top: 20px;
}

.solution_name {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 31px;
    align-items: center;
    color: #0EC79B;
}

.solution_desc {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    align-items: center;
    color: #888888;
}

.tech-stack {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #515151;
}

svg {
    background: #fff;
    margin-right: 0.5rem;
}

.technology {
    padding: 8px 25px 8px 7px;
    width: auto;
    text-align: left;
    background: #F7F7F7;
}

    .technology span {
        color: #0EC79B;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.163896px;
        margin-left: 10px;
    }

span.technology.badge.rounded-pill.mt-2 {
    padding: 8px 25px 8px 7px;
    width: auto;
    text-align: left;
}

span.technology.badge.rounded-pill.ms-3 {
    padding: 8px 25px 8px 7px;
    width: auto;
    text-align: left;
}

.col-md-9.tab-content {
    padding: 1.5rem;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    height: 615px;
}

.tab-head {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #515151;
}

  body {
    margin: 0;
   
  }


/* body::-webkit-scrollbar {
  display: none;
} */


.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.imgslider{
  margin: auto;
  width: 50%;
  height: 50%;
}

.slick-dots {
  display: block;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #999;
  cursor: pointer;
  outline: none;
}

.slick-dots li.slick-active button {
  background-color: #999;
}




  
  


@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}
  .card {
    width: 20rem;
  }

  .btn-arrow {
    background: #0EC79B;
    padding: 0.5rem;
    border-radius: 50%;
    height: 35px !important;
    width: 35px;
  }
  /* span.carousel-control-prev-icon {
    display: none;
}
span.carousel-control-next-icon {
    display: none;
} */

.carousel {
  min-width: 900px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}
.mybtn.text-center {
  box-shadow: 0px 3.75px 11.25px rgba(0, 0, 0, 0.05);

   border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.portfolio-scroller{
  position: absolute;
  right: 0;
  margin-right: 20px;
}
.progressbar{
  background-color: #d8d8d8;
  height: 5px;
  position: sticky;
  left: 0;
  width: 100%;
  z-index: 2;
}
.progressindicator{
  background-color: #0EC79B;
  height: 5px;
}
.scroll-box{
  display: flex;
  flex-direction: column;
}
.scroll-rl{
  display: flex;
  justify-content: space-between;
}
.scroll-right,.scroll-left,.arrow-color{
  color: #0EC79B;
}
  
  