.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  .react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .react-horizontal-scrolling-menu--scroll-container {
    background: pink !important;
    height: 500px !important;
  }
  .react-horizontal-scrolling-menu--item {
    background-color: aquamarine;
    height: 500px !important;
  }
  
  